html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Scrollable table container (Staging data tables)*/
.table-scroll-container {
    max-height: 250px; /* adjust this height as you like */
    overflow-y: auto; /* vertical scroll inside the box */
    overflow-x: auto; /* horizontal scroll if needed */
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

    /* keep table header visible while scrolling */
    .table-scroll-container thead th {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }
