@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var user = ViewData["User"];
}

<div class="text-center">
    <h1 class="display-4">Welcome @user</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
