@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var user = ViewData["User"];
    var canAccessSLDatabase = ViewData["canAccessSLDatabase"];
    var canAccessGPDatabase = ViewData["canAccessGPDatabase"];
    var sLErrorMessage = ViewData["SLErrorMessage"];
    var gPErrorMessage = ViewData["GPErrorMessage"];
}

<div class="text-center">
    <h1 class="display-4">Welcome @user</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (canAccessSLDatabase == null || !(bool)canAccessSLDatabase)
    {
        <p style="color: maroon; font-weight: bold;">
            Cannot connect to SL database
        </p>
        <p>
            @sLErrorMessage
        </p>
    }
    @if (canAccessGPDatabase == null || !(bool)canAccessGPDatabase)
    {
        <p style="color: maroon; font-weight: bold;">
            Cannot connect to GP database
        </p>
        <p>
            @gPErrorMessage
        </p>
    }
</div>

